/* Importa as fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Variáveis de cores */
:root {
    --color-vivid-cyan-blue: #0693e3;
    --color-vivid-purple: #8d3dd8;
    --color-light-gray: #f4f4f4;
    --color-dark-gray: #333;
    --gradient-vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(139, 49, 223) 100%);
}

/* Estilo geral do corpo da página */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right,
            rgb(104, 0, 152),
            /* Roxo */
            #760abf,
            /* Azul intermediário */
            #4c99d4);
    /* Azul ciano */
    /* Gradiente de roxo para azul ciano */
    color: var(--color-dark-gray);
    margin: 0;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

/* Estilos do header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Distribui os itens em extremos opostos */
    align-items: center;
    background-color: transparent;
    /* Fundo transparente */
    color: white;
    padding: 15px 20px;
    height: 80px;
    /* Ajuste conforme necessário */
    box-sizing: border-box;
    /* Inclui padding e borda na altura total */
}

/* Estilos do título no header */
#title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinha o título à esquerda */
    padding: 0;
    /* Remover padding para ajustar o layout */
    margin: 0;
    /* Remover margin para ajustar o layout */
}

.title-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinha o texto à esquerda */
    line-height: 0.8;
    /* Ajusta o espaçamento entre linhas */
}

.knit {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    /* Peso 900 para 'Knet' */
    font-style: italic;
    /* Itálico */
    font-size: 4rem;
    /* Tamanho maior para 'Knet' */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* Sombra leve */
    color: white;
}

.internet {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    /* Peso 900 para 'Internet' */
    font-style: italic;
    /* Itálico */
    font-size: 1.8rem;
    /* Tamanho menor para 'Internet' */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* Sombra leve */
    color: white;
}

/* Estilos do menu de navegação */
nav {
    position: fixed;
    /* Fixar o menu no topo */
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(110, 0, 161, 0.8);
    /* Fundo semi-transparente */
    display: flex;
    justify-content: center;
    /* Centraliza o menu de navegação */
    align-items: center;
    z-index: 1000;
    /* Garante que fique acima de outros elementos */
    height: 80px;
    /* Define a altura da barra de navegação */
    padding: 0 20px;
    box-sizing: border-box;
    /* Inclui padding na altura total */
}

/* Estilos do menu dentro da nav */
.hfe-nav-menu {
    list-style: none;
    display: flex;
    gap: 100px;
    /* Espaçamento entre itens do menu */
    margin: 0;
    padding: 0;
    flex: 1;
    /* Permite que o menu ocupe o espaço disponível */
    justify-content: center;
    /* Centraliza os itens do menu */
}

/* Estilo específico para "Central do Assinante" */
.hfe-nav-menu li {
    display: inline-block;
}

.hfe-nav-menu li:last-child a {
    border: 2px solid white;
    /* Borda sólida ao redor do link */
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.hfe-nav-menu li:last-child a:hover {
    color: #4b0082;
    border-color: #4b0082;
    text-shadow: none;
}

.hfe-nav-menu a {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.5s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    /* Sombra leve */
}

.hfe-nav-menu a:hover {
    color: var(--color-vivid-purple);
}

/* Espaço no topo para evitar sobreposição do conteúdo com o menu */
body {
    padding-top: 80px;
    /* Ajuste conforme a altura do menu */
}

/* Estilos do botão de menu toggle */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s;
}

.menu-toggle:hover i {
    transform: scale(1.1);
}

/* Estilos responsivos para o menu de navegação */
@media (max-width: 768px) {
    .hfe-nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background: var(--color-vivid-cyan-blue);
        position: absolute;
        top: 60px;
        left: 0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .hfe-nav-menu.show {
        display: flex;
    }

    .hfe-nav-menu li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }
}

/* Estilos da seção Home */
#home {
    width: 100%;
    /* Ocupa 100% da largura da tela */
    min-height: 100vh;
    /* Ocupa 100% da altura da tela */
    display: flex;
    /* Opcional: para alinhar conteúdo dentro da seção */
    justify-content: center;
    /* Opcional: para centralizar horizontalmente */
    align-items: center;
    /* Opcional: para centralizar verticalmente */
    padding: 20px;
    /* Ajuste o padding conforme necessário */
    background-color: transparent;
    /* Ajuste a cor de fundo conforme necessário */
    box-sizing: border-box;
    /* Inclui padding e bordas na largura e altura */
    margin: 0;
    /* Remove qualquer margem externa, se necessário */
}

.home-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: transparent;
}

.home-text {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
}

.home-image {
    flex: 1;
    min-width: 300px;
    text-align: right;
}

.home-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.home-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.home-text p {
    margin: 10px 0;
    color: #ffffff;
}


/* Estilos da seção de planos */
#planos {
    width: 100%;
    /* Ocupa 100% da largura da tela */
    min-height: 100vh;
    /* Ocupa 100% da altura da tela */
    background: transparent;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

#planos h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.planos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.plano {
    background: white;
    color: var(--color-dark-gray);
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(152, 29, 235, 0.1);
    padding: 30px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.plano h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: var rgba(110, 0, 161, 0.6);
}

.plano p {
    margin: 10px 0;
    font-size: 1rem;
}

.plano p.price {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 0;
}

.plano:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(139, 49, 223);
}

/* Estilos dos botões de assinatura */
.assine-agora {
    background-color: rgb(110, 0, 161);
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.assine-agora:hover {
    background-color: var(--color-vivid-cyan-blue);
    transform: scale(1.05);
}

/* Estilos dos botões Elementor */
.elementor-button {
    background-color: var(--color-vivid-cyan-blue);
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.elementor-button:hover {
    background-color: var(--color-vivid-purple);
}



/* Estilos da seção Sobre e Contato */
.sobre-e-contato {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

#sobre {
    width: 100%;
    /* Ocupa 100% da largura da tela */
    min-height: 100vh;
    /* Ocupa 100% da altura da tela */

}

.sobre-texto,
.contato-formulario {
    flex: 1;
    /* Isso garante que ambos os elementos tenham o mesmo tamanho disponível */
    min-width: 300px;
    /* Ajuste conforme necessário */
    padding: 20px;
    border-radius: 10px;
}

#sobre h1 {
    color: #ffffff;
}

.sobre-texto {
    background-color: transparent;
    color: #ffffff;
}

.contato-formulario {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contato-formulario form {
    display: flex;
    flex-direction: column;
}

.contato-formulario form label,
.contato-formulario form input,
.contato-formulario form textarea {
    width: 100%;
    margin: 10px 0;
}

.contato-formulario form input,
.contato-formulario form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contato-formulario form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-vivid-cyan-blue);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contato-formulario form button:hover {
    background-color: var(--color-vivid-purple);
}

/* Estilos para o footer */
footer {
    background-color:transparent;
    /* Cor de fundo escura para contraste com o texto branco */
    color: rgba(255, 255, 255, 0.573);
    /* Cor do texto */
    padding: 20px;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o texto */
    font-family: 'Poppins', sans-serif;
    /* Fonte Poppins */
    font-size: 1rem;
    /* Tamanho da fonte */
    margin-top: 40px;
    /* Espaço acima do footer */
}

footer p {
    margin: 0;
    /* Remove a margem padrão */
}